@import './global';


.market-page {
    &-outer-container-xl {
        width: 100%;
        height: 100vh;
        @include column-center();
        justify-content: flex-start;
        background-color: #f1f1f1;
        margin: 0 auto;
    }
    &-loader-container-xl {
        width: 480px;
        height: 80%;
        position: fixed;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        @include column-center();
    }
    &-header{
        background-color:#00000069 ;
        width: 100%;
        height: 80px;
    }
    &-header img{
        width: 30px;
        margin: 20px 0 0 20px;
    }
    &-list{
        &-container-xl{
            width: 480px;
        }
        &-item {
            &-container-xl {
                width: 200px;
                height: 200px;
                background-image:url('../assets/2.png') ;
                background-size: 100% 100%;
                border-radius: 6px;
                float: right;
                margin: 20px;
                text-align: center;
                cursor: pointer;
                .market-page-list-item-price-xl{
                    color:#f18ff0
                }
            }
            &-container-xl img{
                width: 55px;
                margin: 15px 5px 0 0;
                float: right;
            }
            &-image-xl {
                height: 30px;
            }
            &-title-xl {
                @include iranyekan();
                color: #fff;
                width: 90px;
                text-align: center;
                margin-left: 0px;
                margin: 5px;
                font-size: 16px;
                float: left;
                margin-top: 44px;
            }
            &-price-xl {
                @include iranyekan();
                color: #09f974;
                text-align: center;
                display: grid;
                font-size: 52px;
                font-weight: 900;
                margin: 0;
                margin-top: 0px;
                display: inline-grid;
                width: 150px;
            }
            &-price-xl span{
                font-size: 16px;
                color: #fff;
            }
        }
    }
}
