*{
    margin: 0;
    padding: 0;
}
body{
    font-family: iranyekan;
}
.game-page-outer-container-xl{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-page-inner-container-xl{
    width: 100%;
    text-align: center;
    position: relative;
    height: 100vh;
    background-color: #f1f1f1;
    .game-header{
        width: 75%;
        height: 50px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 8px;
        display: inline-block;
    }
    .game-header h1{
        color: #20a59a;
        margin: 0;
        line-height: 50px;
        font-size: 20px;
        padding: 0 10px;
    }
    .game-header .timer{
        float: right;
        margin-right: 10px;
    }
    .game-header .timer img{
        vertical-align: middle;
        width: 22px;
        margin-top: -10px;
    }
    .game-header .point{
        float: left;
        width: 130px;
        height: 60px;
        margin: 10px;
        padding: 0;
        line-height: 30px;
        color:#20a59a;
        font-size: 22px;
    }
    .game-footer{
        height: 40px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 100% 120px;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        background-color: #999999;
        font-size: 25px;
        text-align: center;
    }
    .game-footer h2{
        margin: 0;
        font-size: 23px;
        line-height: 40px;
        color: #fff;
    }
    .parent-main-game{
        position: absolute;
        bottom: 20%;
        width: 100%;
    }
    .main-game-parent{
        // background-image: url(../assets/1/trapezoid.png);
        background-size: 100% 85%;
        background-repeat: no-repeat;
        height: 600px;
    }
    .main-game{
        width: 320px;
        height: auto;
        background-color: transparent;
        margin: 0 auto;
        padding-top: 20px;
        border-radius: 50px;
        position: relative;
        .game-page-question-box{
            margin: 0 auto;
            width: 230px;
            height: auto;
            position:relative;
            transition: 0.5s;
        }
        .game-page-bottom-table{
            width: 300px;
            margin: 0 auto;
            .top-table{
                width: 100%;
                height: 12px;
                background: linear-gradient(0deg, rgba(217,217,217,1) 35%, rgba(231,231,231,1) 100%);
                border-radius: 20px;
            }
            .middle-table{
                width: 90%;
                height: 12px;
                background: linear-gradient(0deg, rgba(217,217,217,1) 35%, rgba(231,231,231,1) 100%);
                margin: 0 auto;
                border-radius: 20px;
            }
            .bottom-table{
                width: 80%;
                height: 12px;
                background: linear-gradient(0deg, rgba(217,217,217,1) 35%, rgba(231,231,231,1) 100%); 
                margin: 0 auto;
                border-radius: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .main-game img{
        width: 65px;
        height: 65px;
        margin: 3%;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
    }
    .fidback{
        width: 100%;
        text-align: center;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .fidback p{
        font-size: 150px;
        color: #fff;
        margin: 0;
        font-weight: 900;
    }
    .game-page-start-click{
        position: absolute;
        bottom: 10%;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding: 0;
    }
    
    .game-page-question-item{
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin: 0 3px;
        border-radius: 10px;
        position:relative;
        display:inline-block;
        line-height: 50px;
        color: #fff;
        font-size: 25px;
        padding: 0;
    }
    .click-to-show-answers{
        cursor: pointer;
        padding: 25px 0;
    }
    .answers{
        cursor: pointer;
    }
}
#rotate{
    background-color: #d4d4d4;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 10px;
}
.button_acc{
    background-color: #5176ec;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
// ***** modal *****
.modal-box-game-link-game {
    line-height: 25px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.modal-box-game-link-game p {
    font-size: 22px;
    margin: 10px 0;
    color: #000;
    font-weight: 900;
}
.modal-point{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}
.modal-point span{
    font-size: 30px;
    font-weight: 900;
    color: #F3B15D;
}
.game-page-end {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(93, 93, 93, 0.9);
    transition: opacity .25s ease;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
  }
  
  .game-page-end-state {
    display: none;
  }
  
  .game-page-end-state:checked + .game-page-end {
    opacity: 1;
    visibility: visible;
  }
  
  .game-page-end-state:checked + .game-page-end .game-page-end-inner {
    top: 0;
  }
  
  .game-page-end-inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    margin: auto;
    overflow: auto;
    background: #fff;
    overflow: hidden;
    height: 260px;
    border-radius: 10px;
  }
//   ***** modal *****