*{
    padding: 0;
    margin: 0;
}
.payment-container-xl{
    width: 480px;
    margin: 0 auto;
    text-align: center;
    font-family: iranyekan;
    background-color: #20a59a;
    height: 100vh;
    display: flow-root;
}
.payment-container-xl a{
    margin-top: 100px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border: 4px solid #fff;
    padding: 10px;
}
.payment-container-xl h2{
    margin-top: 100px;
    color: #fff;
    font-size: 32px;
}