*{
    padding: 0;
    margin: 0;
}
.payment-container-xs{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: iranyekan;
    background-color: #20a59a;
    height: 100vh;
    display: flow-root;
}
.payment-container-xs a{
    margin-top: 100px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border: 4px solid #fff;
    padding: 10px;
    border-radius: 10px;
}
.payment-container-xs h2{
    margin-top: 100px;
    color: #fff;
    font-size: 22px;
}