@import './global';
*{
    margin: 0;
    padding: 0;
}
.board-page {
    &-outer-container-xl {
        width: 480px;
        height: 100vh;
        margin: 0 auto;
        display: grid;
        position: relative;
        background-color: #f1f1f1;
    }
    &-loader-container-xl {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        @include column-center();
    }
    &-header{
        background-color:#00000069 ;
        width: 100%;
        height: 70px;
    }
    &-header img{
        width: 30px;
        margin: 20px 0 0 20px;
    }
    &-parent-xl{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url('../assets/trapezoid.png');
        background-size: 100% 100%;
        margin-top: -50px;
        overflow: auto;
    }
    &-board {
        &-container-xl {
            width: 400px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            justify-content: flex-start;
            color: #fff;
            margin-left: 40px;
            overflow: auto;
        }
        &-item {
            &-container-xl {
                width: 100%;
                @include row-center();
                justify-content: space-between;
                border-bottom: solid 1px #707070;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            &-name-xl {
                width: 33%;
                @include iranyekan();
                @include row-center();
                font-weight: bold;
                text-align: center;
                margin: 17px 0;
            }
            &-rank-xl {
                width: 33%;
                @include iranyekan();
                @include row-center();
                font-weight: bold;
                text-align: center;
                background-color: #ebff05;
                width: 30px;
                height: 30px;
                color: #000;
                margin: 0;
                margin-right: 10px;
                border-radius: 20px;
                line-height: 35px;
            }
            &-score-xl {
                width: 33%;
                text-align: center;
                @include iranyekan();
                @include row-center();
                font-weight: bold;
            }
        }
    }
    
}
.board-page-outer-container-xl{
    .board-page-ranks{
        display: inline-block;
        direction: rtl;
        float: right;
        text-align: center;
        color: #fff;
        height: 200px;
        margin: 0 13px;
        display: inline-table;
        font-family: IranYekan;
        margin-bottom: 20px;
    }
    .board-page-ranks p{
        margin: 5px 0;
        color: #65a4ff;
    }
    .board-page-ranks h3{
        margin: 0;
        color: #65a4ff;
    }
    .board-page-ranking1{
        width: 170px;
        height: 170px;
        background-image: url('../assets/border.png');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
        margin-bottom: 10px;
    }
    .board-page-ranking2{
        width: 130px;
        height: 130px;
        background-image: url('../assets/border.png');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
        margin-bottom: 10px;
    }
    .board-page-ranking3{
        width: 100px;
        float: right;
        height:100px;
        background-image: url('../assets/border.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }
    .top-board{
        display: inline-block;
    }
    .board-page-board{
        width: 350px;
        height: 68px;
        background: linear-gradient(270deg, #65a4ff 35%, #8bfdfc 100%);;
        display: flex;
        margin-left: 65px;
        direction: rtl;
        font-family: IranYekan;
        border-radius: 20px;
        color: #fff;
        margin-top: 120px;
    }
    .board-page-board p{
        width: 35px;
        height: 35px;
        background-color: #fff;
        color: #666;
        margin:16px 20px;
        line-height: 40px;
        text-align: center;
        font-weight: 900;
        border-radius: 6px;
    }
    .board-page-board h2{
        width: 200px;
        float: right;
        margin: 20px 0;
    }
    .board-page-board h3{
        width: 100px;
        float: left;
        text-align: center;
        line-height: 75px;
    }
}
