@import './global';
*{
    padding: 0;
    margin: 0;
}
.board-page {
    &-outer-container-xs {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: grid;
        position: relative;
        background-color: #f1f1f1;
    }
    &-loader-container-xs {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        @include column-center();
    }
    &-header{
        background-color:#00000069 ;
        width: 100%;
        height: 70px;
    }
    &-header img{
        width: 30px;
        margin: 20px 0 0 20px;
    }
    &-parent-xs{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url('../assets/trapezoid.png');
        background-size: 100% 100%;
        margin-top: -50px;
        overflow: auto;
    }
    &-board {
        &-container-xs {
            width: 280px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            color: #fff;
            margin-top: 50px;
            margin: 0 auto;
            overflow: auto;
        }
        &-item {
            &-container-xs {
                width: 100%;
                @include row-center();
                justify-content: space-between;
                border-bottom: solid 1px #fff;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            &-name-xs {
                width: 33%;
                @include iranyekan();
                @include row-center();
                font-weight: bold;
                text-align: center;
                margin: 15px 0;
                font-size: 12px;
            }
            &-rank-xs {
                width: 33%;
                @include iranyekan();
                @include row-center();
                font-weight: bold;
                text-align: center;
                background-color: #ebff05;
                width: 30px;
                height: 30px;
                color: #000;
                margin: 0;
                margin-right: 10px;
                border-radius: 20px;
                line-height: 35px;
            }
            &-score-xs {
                width: 33%;
                text-align: center;
                @include iranyekan();
                @include row-center();
                font-weight: bold;
            }
        }
    }
    
}
.board-page-outer-container-xs{
    .board-page-ranks{
        display: inline-block;
        direction: rtl;
        float: right;
        text-align: center;
        color: #fff;
        height: 170px;
        margin: 0 3px;
        display: inline-table;
        font-family: IranYekan;
        margin-bottom: 20px;
    }
    .board-page-ranks p{
        margin: 5px 0;
        color: #65a4ff;
        font-size: 12px;
    }
    .board-page-ranks h3{
        margin: 0;
        color: #65a4ff;
    }
    .board-page-ranking1{
        width: 120px;
        height: 120px;
        background-image: url('../assets/border.png');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
        margin-bottom: 10px;
    }
    .board-page-ranking2{
        width: 100px;
        height: 100px;
        background-image: url('../assets/border.png');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
        margin-bottom: 10px;
    }
    .board-page-ranking3{
        width: 80px;
        float: right;
        height:80px;
        background-image: url('../assets/border.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }
    .top-board{
        display: inline-block;
        margin: 0 auto;
        width: 320px;
    }
    .board-page-board{
        width: 250px;
        height: 50px;
        background: linear-gradient(270deg, #65a4ff 35%, #8bfdfc 100%);;
        display: flex;
        margin-left: 65px;
        direction: rtl;
        font-family: IranYekan;
        border-radius: 20px;
        color: #fff;
        margin: 0 auto;
        margin-top: 120px;
    }
    .board-page-board p{
        width: 35px;
        height: 35px;
        background-color: #fff;
        color: #666;
        margin:7px 20px;
        line-height: 40px;
        text-align: center;
        font-weight: 900;
        border-radius: 6px;
    }
    .board-page-board h2{
        width: 200px;
        float: right;
        margin: 16px 0;
        font-size: 18px;
    }
    .board-page-board h3{
        width: 100px;
        float: left;
        text-align: center;
        line-height: 55px;
    }
}
