@import './global';
*{
    margin: 0;
    padding: 0;
    font-family: iranyekan;
}
.main-page {
  &-outer-container-xl {
    width: 100%;
    height: 100vh;
    @include column-center();
}
  &-loader-container-xl {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 9999;
      @include column-center();
  }
}
body{
    overflow: hidden;
}
.main-game-outher-container-xl{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main-page-icons-xl{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .main-page-store-icon{
        float: right;
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: #f18ff0;
        padding: 15px;
        width: 60px;
        z-index: 999;
        position: relative;
        border-top-left-radius: 20px;
    }
    .main-page-leaderboard-icon{
        float: left;
        margin-left: 0px;
        margin-bottom: 0px;
        background-color: #f18ff0;
        padding: 15px;
        width: 60px;
        z-index: 999;
        position: relative;
        border-top-right-radius: 20px;
    }  
}
.main-game-container-xl{
    width: 100%;
    text-align: center;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 330px;
    height: 100vh;
    background-color: #53356b;
    .main-page-link-xl{
        position: fixed;
        bottom: 15%;
        background: linear-gradient(270deg, rgba(101,164,255,1) 35%, rgba(139,253,252,1) 100%);
        width: 200px;
        height: 200px;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        border: 0;
        text-decoration: none;
        cursor: pointer;
        border-radius: 20px;
        font-size: 50px;
        color: #fff;
        line-height: 190px;
    }
    .main-page-link-xl h1{
        color: #fff;
        line-height: 120px;
        font-size: 55px;
    }
    .main-game-show-point-xl{
        width: 350px;
        height: 60px;
        margin: 0 auto;
        background-color: #fff;
        margin-top: 60px;
        z-index: 999;
        position: relative;
        border-radius: 15px;
    }
    .main-game-show-point-xl h2{
        width: 50%;
        float: right;
        font-size: 30px;
        line-height: 60px;
        font-weight: bolder;
        color:#000;
    }
    .main-game-show-point-xl p{
        width: 50%;
        float: left;
        font-size: 30px;
        line-height: 60px;
        font-weight: bolder;
        color:#000;
    }  
}
.coin-text{
    text-align: center;
}
// ***** modal *****
.modal-box-game-link-game {
    line-height: 25px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.modal-box-game-link-game p {
    font-size: 22px;
    margin: 10px 0;
    color: #000;
    font-weight: 900;
}
.modal-point{
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
}
.modal-point span{
    font-size: 40px;
    font-weight: 900;
    color: #F3B15D;
}
.game-page-end {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(93, 93, 93, 0.9);
    transition: opacity .25s ease;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
  }
  .game-page-end-state {
    display: none;
  }
  .game-page-end-state:checked + .game-page-end {
    opacity: 1;
    visibility: visible;
  }  
  .game-page-end-state:checked + .game-page-end .game-page-end-inner {
    top: 0;
  }
  .game-page-end-inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    margin: auto;
    overflow: auto;
    background: #fff;
    overflow: hidden;
    height: 260px;
    border-radius: 10px;
    .modal-box-time img{
        width: 80px;
        float: right;
        margin: 10px;
        margin: 20px 30px 0 0;
        padding: 10px;
    }
    .modal-box-time{
        width: 160px;
        height: auto;
        float: right;
        text-align: center;
        cursor: pointer;
    }
    .modal-box-booster{
        width: 160px;
        height: auto;
        float: right;
        text-align: center;
        cursor: pointer;
    }
    .modal-box-booster img{
        width: 80px;
        float: left;
        margin: 10px;
        margin: 20px 0 0 30px;
        padding: 10px;
    }
    .modal-box-booster-checked{
        width: 160px;
        height: auto;
        float: right;
        text-align: center;
        cursor: pointer;
    }
    .modal-box-booster-checked img{
        width: 80px;
        float: left;
        margin: 10px;
        margin: 20px 0 0 30px;
        box-shadow: 0 0 10px #ababab;
        padding: 10px;
        background-color: #ffe071;
    }
    .modal-box-time-checked img{
        width: 80px;
        float: right;
        margin: 10px;
        margin: 20px 30px 0 0;
        box-shadow: 0 0 10px #ababab;
        padding: 10px;
        background-color: #ffe071;
    }
    .modal-box-time-checked{
        width: 160px;
        height: auto;
        float: right;
        text-align: center;
        cursor: pointer;
    }
  }
//   ***** modal *****