@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/IranSans/eot/IRANSansWeb_Black.eot');
	src: url('./fonts/IranSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranSans/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
		 font-display: fallback;
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/IranSans/eot/IRANSansWeb_Bold.eot');
	src: url('./fonts/IranSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranSans/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
		 font-display: fallback;
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/IranSans/eot/IRANSansWeb_Medium.eot');
	src: url('./fonts/IranSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranSans/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
		 font-display: fallback;
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/IranSans/eot/IRANSansWeb_Light.eot');
	src: url('./fonts/IranSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranSans/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
		 font-display: fallback;
}

@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 200;
	src: url('./fonts/IranSans/eot/IRANSansWeb_UltraLight.eot');
	src: url('./fonts/IranSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
		 font-display: fallback;
}
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/IranSans/eot/IRANSansWeb.eot');
	src: url('./fonts/IranSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranSans/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranSans/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranSans/ttf/IRANSansWeb.ttf') format('truetype');
		 font-display: fallback;
}


/* roboto-100normal - latin */
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/IranYekan/eot/iranyekanwebbold.eot');
	src: url('./fonts/IranYekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranYekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranYekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranYekan/ttf/iranyekanwebbold.ttf') format('truetype');
		 font-display: fallback;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/IranYekan/eot/iranyekanweblight.eot');
	src: url('./fonts/IranYekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranYekan/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranYekan/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranYekan/ttf/iranyekanweblight.ttf') format('truetype');
		 font-display: fallback;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/IranYekan/eot/iranyekanwebregular.eot');
	src: url('./fonts/IranYekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranYekan/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranYekan/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranYekan/ttf/iranyekanwebregular.ttf') format('truetype');
		 font-display: fallback;
}

/* Latin fonts (Roboto) */

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/IranYekan/eot/robotobold.eot');
	src: url('./fonts/IranYekan/eot/robotobold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranYekan/woff2/robotobold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranYekan/woff/robotobold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranYekan/ttf/robotobold.ttf') format('truetype');
		 font-display: fallback;
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/IranYekan/eot/robotolight.eot');
	src: url('./fonts/IranYekan/eot/robotolight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranYekan/woff2/robotolight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranYekan/woff/robotolight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranYekan/ttf/robotolight.ttf') format('truetype');
		 font-display: fallback;
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/IranYekan/eot/robotoregular.eot');
	src: url('./fonts/IranYekan/eot/robotoregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/IranYekan/woff2/robotoregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/IranYekan/woff/robotoregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/IranYekan/ttf/robotoregular.ttf') format('truetype');
		 font-display: fallback;
}

@font-face {
	font-family: irancell;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/Irancell/IRANCELL Light.TTF');
}

@font-face {
	font-family: irancell;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/Irancell/IRANCELL Regular.TTF');
}

@font-face {
	font-family: irancell;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/Irancell/IRANCELL Bold.TTF');
}

@font-face {
	font-family: irancell;
	font-style: normal;
	font-weight: bolder;
	src: url('./fonts/Irancell/IRANCELL ExtraBold.TTF')
}